# docker-compose up --build

version: '3.8'

services:
  mongo:
    image: mongo:7
    container_name: comp3123_mongo
    restart: always
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

  mongo-express:
    image: mongo-express:1
    container_name: comp3123_mongo_express
    restart: always
    ports:
      - "8081:8081"
    environment:
      - ME_CONFIG_MONGODB_SERVER=mongo
      - ME_CONFIG_MONGODB_PORT=27017
      - ME_CONFIG_BASICAUTH_USERNAME=admin
      - ME_CONFIG_BASICAUTH_PASSWORD=admin
    depends_on:
      - mongo

  backend:
    build: ./backend
    container_name: comp3123_backend
    restart: always
    ports:
      - "3001:3001"
    environment:
      - PORT=3001
      - DB_URL=mongodb://mongo:27017/comp3123_assignment2
      - JWT_SECRET=super_secret_for_assignment_only
      - CLIENT_ORIGIN=http://localhost:3000
    depends_on:
      - mongo
    volumes:
      - ./backend/uploads:/usr/src/app/uploads

  frontend:
    build: ./frontend
    container_name: comp3123_frontend
    restart: always
    ports:
      - "3000:3000"
    depends_on:
      - backend

volumes:
  mongo_data:

